{
  "presets": [
    ["es2015"],
    "stage-2",
    "react",
    "react-boilerplate"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },

  "plugins": [
    "react-hot-loader/babel"
  ]
}