<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105787202-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-105787202-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="2YViCKSkPF5Uj0nTENmhgXfqjB0OVFQ1xtH0gOkoyKc" />
    <title>Laurence Jones</title>
    <link rel="icon" href="/favicon.ico?v=2" />
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:400,700" rel="stylesheet" />
</head>
<body>
    <div id="root"></div>
    <noscript>
        <div class="no-js">
            <h1>You'll need to enable JS to use this site</h1>
        </div>
    </noscript>
</body>
</html>