<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laurence Jones</title>
    <link rel="icon" href="/favicon.ico?v=2" />
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:400,700" rel="stylesheet" />
</head>
<body>
    <div id="root"></div>
    <noscript>
        <div class="no-js">
            <h1>You'll need to enable JS to use this site</h1>
        </div>
    </noscript>
</body>
</html>