.footer {
    height: 110px;
    background: -webkit-linear-gradient(top, $gradient);
    background: -moz-linear-gradient(top, $gradient);
    background: -o-linear-gradient(top, $gradient);
    background: linear-gradient(to bottom, $gradient);
}