.footer {
    height: 110px;
    background: -webkit-linear-gradient(bottom, $dark, $light);
    background: -moz-linear-gradient(bottom, $dark, $light);
    background: -o-linear-gradient(bottom, $dark, $light);
    background: linear-gradient(to top, $dark, $light);
}