body {
    background: $light;
    font-family: 'Expletus Sans', cursive;
}

span.highlight {
    color: $highlight;
}

a:hover {
    span.highlight {
        color: $dark;
    }
}

.no-js, .error--404 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, $gradient);
    background: -moz-linear-gradient(bottom, $gradient);
    background: -o-linear-gradient(bottom, $gradient);
    background: linear-gradient(to top, $gradient);
    h1 {
        color: #fff;
        position: absolute;
        text-align: center;
        font-size: 50px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        @media #{$break-mobile} {
            font-size: 60px;
        }
        @media #{$break-large} {
            font-size: 80px;
        }
        @media #{$break-ex-ex-large} {
            font-size: 4vw;
        }
    }
}

.error--404 {
    line-height: 1.3;

    a {
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $highlight;
            border-bottom: 5px solid $highlight;
        }
    }
}