$dark: #1c1a27;
$light: #dbdcd7;
$highlight: #b8235a;
$gradient: #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%;

$break-small: "(min-width: 480px)";
$break-mobile: "(min-width: 700px)";
$break-medium: "(min-width: 900px)";
$break-large: "(min-width: 1000px)";
$break-ex-large: "(min-width: 1200px)";
$break-ex-ex-large: "(min-width: 1500px)";

$breakpoints: (
    break-small : $break-small,
    break-mobile: $break-mobile,
    break-medium: $break-medium,
    break-large : $break-large,
    break-ex-large : $break-ex-large,
    break-ex-ex-large : $break-ex-ex-large,
);